

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Checkstyle tips</h1>

        <hr>

        <hr>

        <!-- Post Content -->
        <!--p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p!-->
        
        <p>If you don't see the OSU checkstyle settings available, try out these instructions:</p>
        <ol>
          <li>Go to your preferences in Eclipse, and select the Checkstyle tab on the left.<br><img src="/static/img/Checkstyle1.png" width=500 height=500></li>
          <li>Click on new and enter each box as the picture shows: remote source, with that HTML. The name can be anything you'd like.<br><img src="/static/img/Checkstyle2.png" width=500 height=500></li>
          <li>Select it and set it as the default and you're set!<br><img src="/static/img/Checkstyle3.png" width=500 height=500></li>
        </ol>

        <p>Make sure you always fix checkstyle warnings before turning in projects. 9/10 times they are important and point out something wrong! But there are instances where its alright to ignore it.</p>
        

        <hr>

        

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <!--p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p!-->
    </div>
    <!-- /.container -->
  </footer>

