  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">General Class Advice</h1>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/static/img/dreese.jpg" alt="http://placehold.it/900x300">

        <hr>

        <!-- Post Content -->
        <!--p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p!-->

        <p>Heres some general class advice to make sure you have the right mindset going in to CSE 2221 (or perhaps OSU classes in general, if the shoe fits).</p>

        <p>1. This class isn't just a computer programming course like CSE1222 or CSE1223. Though we teach programming principles, its the software engineering that we're aiming to teach as well. For instance, knowing <i>when</i> to use a for/while/do-while loop is just as important as knowing <i>how</i> to use each one. Code that works isn't the same as quality code.
        </p><p>2. Keep up with projects. They're a large part of your grade and should help to provide a buffer to your grade if midterms/final is lower. Some projects build on each other (even into software 2), so it hurts to fall behind on a project. Feel free to work ahead on projects if that works for you.
        </p><p>3. Take advantage of resources available to help you succeed in class. In addition to the lecturer (myself) and the two graders for the class, any of the other lecturers or graders teaching CSE2221 are available. Meeting in person during office hours or before/after class is preferable, and emails are better than not communicating the issue at all.
        </p><p>4. Don't cheat. Every semester we have to report way too many students for cheating in this class. We know the sources available, and you will be reported to COAM if suspected for cheating.</p>
        <p>5. As teachers, we're trying to help you succeed, not make you fail. If there is something I can do to help you learn better, please make the suggestion privately some time. 
        </p>
        <p>6. Pay close attention to the instructions on each project. They're written there for a reason! Missing details will cost you points. If anything is unclear about the directions, talk to me or the graders.
        </p>
        <p>7. Use FindBugs and Checkstyle!!! Pay attention to those warnings before you submit projects.</p>


        <hr>

        

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <!--p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p!-->
    </div>
    <!-- /.container -->
  </footer>