


  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header>
      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/static/vid/FullRender720p.mp4" type="video/mp4">
      </video>
    </header>

    <!-- Page Features -->
    <div class="row text-center">


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top card-image" src="/static/img/WebGL_Logo.svg" alt="http://placehold.it/500x325">
          <div class="card-body">
            <h4 class="card-title">WebGL final project</h4>
            <p class="card-text">Play with a WebGL in your browser (if supported)</p>
          </div>
          <div class="card-footer">
            <a href="/projects/CSE5542_finalproject.html" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>

      
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top card-image" src="/static/img/DisasterMaster.png" alt="http://placehold.it/500x325">
          <div class="card-body">
            <h4 class="card-title">Game Jam 2018 - Disaster Master</h4>
            <p class="card-text">A VR game made during Game Jam 2018</p>
          </div>
          <div class="card-footer">
            <a href="/projects/GameJam2018.html" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>

      
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top card-image" src="/static/img/NeuralNetwork1.png" alt="http://placehold.it/500x325">
          <div class="card-body">
            <h4 class="card-title">Neural network</h4>
            <p class="card-text">Creating a neural network in Processing</p>
          </div>
          <div class="card-footer">
            <a href="/projects/NeuralNetwork.html" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top card-image" src="/static/img/LogoWithName.png" alt="http://placehold.it/500x325">
          <div class="card-body">
            <h4 class="card-title">The Hiatus System</h4>
            <p class="card-text">Mindfullness and meditation in VR with biofeedback</p>
          </div>
          <div class="card-footer">
            <a href="http://hiatussystem.com/" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top card-image" src="/static/img/Doo-Sabin 4 iterations.png" alt="http://placehold.it/500x325">
          <div class="card-body">
            <h4 class="card-title">Surface refinement</h4>
            <p class="card-text">Subdividing surfaces in Processing</p>
          </div>
          <div class="card-footer">
            <a href="projects/SurfaceRefinement.html" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top card-image" src="/static/img/Surface of revolution.png" alt="http://placehold.it/500x325">
          <div class="card-body">
            <h4 class="card-title">Making meshes</h4>
            <p class="card-text">Generating meshes from curves in Processing</p>
          </div>
          <div class="card-footer">
            <a href="/projects/MakingMeshes.html" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top card-image" src="/static/img/CurvesAndSplines1.png" alt="http://placehold.it/500x325">
          <div class="card-body">
            <h4 class="card-title">Curves and splines</h4>
            <p class="card-text">Creating Bezier Curves, BSplines, and estimations of those with Decasteljau algorithm and subdivision curves</p>
          </div>
          <div class="card-footer">
            <a href="/projects/CurvesAndSplines.html" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top card-image" src="/static/img/network.png" alt="http://placehold.it/500x325">
          <div class="card-body">
            <h4 class="card-title">WaveNet audio generation</h4>
            <p class="card-text">Generating audio from WaveNet</p>
          </div>
          <div class="card-footer">
            <a href="/projects/WaveNetAudioGeneration.html" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top card-image" src="/static/img/Screen Shot 2018-02-16 at 9.42.20 PM.png" alt="http://placehold.it/500x325">
          <div class="card-body">
            <h4 class="card-title">Radial basis functions</h4>
            <p class="card-text">Learning to match functions with radial basis functions</p>
          </div>
          <div class="card-footer">
            <a href="/projects/RadialBasisFunctions.html" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>



      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top card-image" src="/static/img/DenmanPoster.png" alt="http://placehold.it/500x325">
          <div class="card-body">
            <h4 class="card-title">Denman Undergraduate Research Forum 2017</h4>
            <p class="card-text">Undergraduate research conducted my sophomore year presented at Denman</p>
          </div>
          <div class="card-footer">
            <a href="/projects/DenmanResearchForum2017.html" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top card-image" src="/static/img/UnityLogo.png" alt="http://placehold.it/500x325">
          <div class="card-body">
            <h4 class="card-title">Computer Animation (Unity3D)</h4>
            <p class="card-text">Projects from my computer animation class</p>
          </div>
          <div class="card-footer">
            <a href="/projects/ComputerAnimation.html" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top card-image" src="/static/img/IMG_20170717_141458.jpg" alt="http://placehold.it/500x325">
          <div class="card-body">
            <h4 class="card-title">Biofeedback</h4>
            <p class="card-text">Using heart rate or EEG readings to control computer programs</p>
          </div>
          <div class="card-footer">
            <a href="/projects/Biofeedback.html" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <!--p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p!-->
    </div>
    <!-- /.container -->
  </footer>

