
<!— Page Content —>
<div class="container">

  <!— Jumbotron Header —>
  <header class="jumbotron my-4">
    <h1 class="display-3">CSE 2221 - Software 1</h1>
    <p class="lead">This class is your introduction to software engineering. Here we'll learn the principles that every software engineer should have. I'll add helpful links, tips, and resources for students in the class.</p>
  <p>Have a look at my friend Logan's <a href="https://loganfrank.github.io/teaching/">page</a>, where he also has great tips for projects and class.</p>
    <p><a href="http://web.cse.ohio-state.edu/software/2221/web-sw1/schedule.html">Class site</a></p>

  </header>

  <!— Page Features —>
  <div class="row text-center">

  <div class="col-lg-3 col-md-6 mb-4">    
      <div class="card h-100">
        <img class="card-img-top" src="/static/img/cameragraphic.jpg" alt="http://placehold.it/500x325">
        <div class="card-body">
          <h4 class="card-title">Online Lectures</h4>
          <p class="card-text">Links to recorded lectures</p>
        </div>
        <div class="card-footer">
          <a href="/teaching/RecordedLectures.html" class="btn btn-primary">See lectures</a>
        </div>
      </div>
    </div>


  <div class="col-lg-3 col-md-6 mb-4">    
      <div class="card h-100">
        <img class="card-img-top" src="/static/img/midterm.png" alt="http://placehold.it/500x325">
        <div class="card-body">
          <h4 class="card-title">Midterm 2 Review</h4>
          <p class="card-text">Study guides + tips for midterm 2</p>
        </div>
        <div class="card-footer">
          <a href="/teaching/Midterm2Review.html" class="btn btn-primary">See study guide/tips</a>
        </div>
      </div>
    </div>
    
<div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/static/img/proj6.jpg" alt="http://placehold.it/500x325">
        <div class="card-body">
          <h4 class="card-title">Project 6 Tips</h4>
          <p class="card-text">Things to keep in mind for Project 6</p>
        </div>
        <div class="card-footer">
          <a href="/teaching/Project6Tips.html" class="btn btn-primary">See tips</a>
        </div>
      </div>
    </div>

  
    <div class="col-lg-3 col-md-6 mb-4">    
      <div class="card h-100">
        <img class="card-img-top" src="/static/img/midterm.png" alt="http://placehold.it/500x325">
        <div class="card-body">
          <h4 class="card-title">Midterm 1 Review</h4>
          <p class="card-text">Study guides + tips for midterm 1</p>
        </div>
        <div class="card-footer">
          <a href="/teaching/Midterm1Review.html" class="btn btn-primary">See study guide/tips</a>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 mb-4">    
      <div class="card h-100">
        <img class="card-img-top" src="/static/img/dejaeger.png" alt="http://placehold.it/500x325">
        <div class="card-body">
          <h4 class="card-title">Project 3 Tips</h4>
          <p class="card-text">Things to keep in mind for Project 3</p>
        </div>
        <div class="card-footer">
          <a href="/teaching/Project3Tips.html" class="btn btn-primary">See tips</a>
        </div>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/static/img/Checkstylepic.png" alt="http://placehold.it/500x325">
        <div class="card-body">
          <h4 class="card-title">Checkstyle Tips</h4>
          <p class="card-text">Fixing checkstyle issues</p>
        </div>
        <div class="card-footer">
          <a href="/teaching/CheckstyleTips.html" class="btn btn-primary">See tips</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/static/img/html.jpeg" alt="http://placehold.it/500x325">
        <div class="card-body">
          <h4 class="card-title">Project 1 Tips</h4>
          <p class="card-text">Things to keep in mind for Project 1</p>
        </div>
        <div class="card-footer">
          <a href="/teaching/Project1Tips.html" class="btn btn-primary">See tips</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/static/img/BinarySearch.png" alt="http://placehold.it/500x325">
        <div class="card-body">
          <h4 class="card-title">Project 2 Tips</h4>
          <p class="card-text">Things to keep in mind for Project 2</p>
        </div>
        <div class="card-footer">
          <a href="/teaching/Project2Tips.html" class="btn btn-primary">See tips</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/static/img/osu.jpg" alt="http://placehold.it/500x325">
        <div class="card-body">
          <h4 class="card-title">Student resources</h4>
          <p class="card-text">Links and info about anything OSU or Columbus offers to make your life as a student easier</p>
        </div>
        <div class="card-footer">
          <a href="/teaching/resources.html" class="btn btn-primary">See resources</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/static/img/dreese.jpg" alt="http://placehold.it/500x325">
        <div class="card-body">
          <h4 class="card-title">General Class Advice</h4>
          <p class="card-text">Class advice for CSE2221</p>
        </div>
        <div class="card-footer">
          <a href="/teaching/ClassAdvice.html" class="btn btn-primary">See class advice</a>
        </div>
      </div>
    </div>

  </div>
  <!— /.row —>

</div>
<!— /.container —>

<!— Footer —>
<!--footer class="py-5 bg-dark">
  <div class="container">
    <!—p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p!—>
  </div>
  <!— /.container —>
</footer!-->


