

<!-- Page Content -->
<section class="py-5">
  <div class='row'>
    <iframe height="100%" width="100%"  src="https://www.youtube.com/embed/UdnMqbdrNkQ" 
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="container">
    
    
    <h1 class="font-weight-light">BioFeedback</h1>
    <p class="lead">Controling electronics with signals from the body</p>

    <p>Starting in the summer of 2017, I began exploring biofeedback through various sensors. Through my job at ACCAD, I was able to work with Arduino and an IR sensor used on a fingertip to measure the light value. From this, numbers representing a heartbeat value emerged, and we were able to use this metric for feedback into a system.</p>

<p>Another system we purchased was the Emotiv Insight, a five sensor EEG scanner that measured 5 brainwaves. The SDK was much more challenging to work with, however. The code for the heartbeat was done in Processing, and I wanted to combine the two into one sandbox. The solution was to use Processing for Eclipse, allowing me to properly import the SDK library, and code in the Eclipse IDE. However, this caused build problems for cross platform (and even cross machine), so we currently don't have this working on a machine other than my laptop.</p>

​

<p>Above is an example of the setup. First, Arduino code is compiled to send data via serial to the computer. My Processing script, which used to be a visualizer, then sends that data via OSC to Isadora. Isadora does some number crunching with a javascript file I wrote, and then is sent to light sources via an Entec box. In the end, we get a cool effect of my heartbeat through the lights.</p>

  </div>
</section>
