<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Computer Animation</h1>
    <p class="lead">Multiple Projects spanning topics in computer graphics</p>

<p>
    This is a single Unity project housing scenes made for labs for CSE 3541: Computer Game and Animation Techniques taken in Fall 2017 at OSU. </p>

​
<p>
Each scene is labelled as which lab it was, and has a README for it to understand the objective, implementation, and nuances in the code.</p>

<p>
This class was easily my favorite taken, but that spot is now taken by neural networks or geometric modeling!</p>
<p>See code <a href="https://github.com/skywolf829/ComputerGraphics">here</a>.</p>
  </div>
</section>
