<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('/static/img/CurvesAndSplines1.png')">
        <div class="carousel-caption d-none d-md-block">
          <!--h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p!-->
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('/static/img/CurvesAndSplines2.png')">
        <div class="carousel-caption d-none d-md-block">
          <!--h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p!-->
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('/static/img/CurvesAndSplines3.png')">
        <div class="carousel-caption d-none d-md-block">
          <!--h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p!-->
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('/static/img/CurvesAndSplines4.png')">
        <div class="carousel-caption d-none d-md-block">
          <!--h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p!-->
        </div>
      </div>
      
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Curves and Splines</h1>
    <p class="lead">Curve creation in Processing</p>
<p>
    This is the first lab for CSE 5543: Geometric Modeling in Spring 2018. </p>

​
<p>
My implementation uses Processing, a small package that allows for quick creation of graphical user interfaces (GUIs), which allows me to easily create buttons, input fields, and display the curves.
</p>
​
<p>
Using algorithms learned in class, one can 

1) Create, delete, and edit points in the drawing area

2) Choose the type of curve they'd like

3) Adjust parameters for the given curve
</p>
​
<p>
These curves form the building blocks for meshes in the modeling industry, and the curves themselves are used by animators. 
</p>
​
<p>
Click <a href="https://github.com/skywolf829/GeometricModelingLab1">here</a> to view the source code, or play with the application yourself from the builds folder!
</p>
  </div>
</section>
