<
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>      
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('/static/img/DenmanPoster.png')">
        <div class="carousel-caption d-none d-md-block">
          <!--h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p!-->
        </div>
      </div>
     <div class="carousel-item" style="background-image: url('/static/img/DenmanUnity.png')">
        <div class="carousel-caption d-none d-md-block">
          <!--h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p!-->
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Denman Research Forum 2017</h1>
    <p class="lead">Implementing algorithms to create mazes from bit vectors</p>
    <p>
During my second year of undergrad at OSU, I researched with the graphics laboratory at OSU. Using my colleague's research, I created algorithms that create a tiling of maze pieces from given bit vectors. These bit vectors would be the creation from the research the colleague is working on, so ideally this would be used to demo results.</p>

​<p>
See my colleague's research <a href="https://ieeexplore.ieee.org/document/7272964?arnumber=7272964&tag=1">here</a>, <a href="https://ieeexplore.ieee.org/document/8693301">here</a>, and <a href="https://dl.acm.org/doi/10.1145/3337722.3341854">here</a>. See a video of the implementation <a href="https://www.youtube.com/watch?v=d8Cq1BwFG_U">here</a>.</p>

  </div>
</section>
