
<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <iframe height="720" width="100%" src="https://www.youtube.com/embed/xyULeUUeMl8" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h1 class="font-weight-light">GameJam 2018</h1>
    <p class="lead">Disaster Master</p>

    <p>My implementation uses Processing, a small package that allows for quick creation of graphical user interfaces (GUIs), which allows me to easily create buttons, input fields, and display the curves.</p>

    <p>This lab is an extension on the second and first labs. Here, I've introduced a 3D camera package in order to move the camera around in 3-space. Then, I allowed manipulation of points in three space. By clicking a point and dragging it around with x, y, or z pressed, the points can be moved. From here, the user can generate a Bezier surface or a cubic BSpline surface.</p>

    <p>Myself and four other friends got together on the last weekend of January 2018 to create a game in Unity for the GlobalGameJam 2018. This is our product.</p>

​

<p>In the game, you play as a telephone switchboard operator int he 1950's, connecting calls from those in distress to the appropriate building (fire department, hospital, animal control, police). Tasks at first come slowly, but increase in pace. Don't disconnect ongoing calls, and be sure to connect a call before the caller hangs up! A performance meter shows how well you're doing. When it hits 0, your boss fires you!</p>

​

I managed coding for all elements of the game, with the exception of the task generator. In the end, we had a playable product, which is all we could ask for!</p>
    
    

  </div>
</section>
