<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('/static/img/NeuralNetwork1.png')">
        <div class="carousel-caption d-none d-md-block">
          <!--h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p!-->
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('/static/img/NeuralNetwork2.png')">
        <div class="carousel-caption d-none d-md-block">
          <!--h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p!-->
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('/static/img/NeuralNetwork3.png')">
        <div class="carousel-caption d-none d-md-block">
          <!--h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p!-->
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('/static/img/NeuralNetwork4.png')">
        <div class="carousel-caption d-none d-md-block">
          <!--h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p!-->
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Neural Network</h1>
    <p class="lead">A basic feedforward-backpropagation network made in Processing</p>
<p>
    This project was created for CSE 5526: Introduction to Neural Networks in Spring 2018.
</p>
​
<p>
The goal of this project was to create a feedforward backpropagation network to learn the parity problem. The parity problem is simple: from a 4-bit binary number, output 1 if there is an odd number of 1's, and 0 otherwise. For instance, 0101 -> 0, and 1000 -> 1. 
</p>
​
<p>
I implemented this project in Processing, which is built upon Java. Processing includes a graphical user interface (GUI) for me to draw the UI elements on, and allow the user to see the network learning (my favorite part!).
</p>
​
<p>
The neural network asked was 4 inputs, one hidden layer with 4 nodes, and 1 output layer. My implementation allows for any number of inputer, outputs, hidden layers, and nodes per layer. This enabled me to test different network architectures for experimentation. Note that the inputs and outputs are hard-coded, so using a number other than 4 for inputs and 1 for outputs will give an error. Feel free, however, to create your own functions that create input/output for the network to learn!
</p>

<p>Get the code <a href="https://github.com/skywolf829/NNLab1">here</a></p>
  </div>
</section>
