


<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('/static/img/Screen Shot 2018-02-16 at 9.43.01 PM.png')">
        <div class="carousel-caption d-none d-md-block">
          <!--h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p!-->
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('/static/img/Screen Shot 2018-02-16 at 9.42.20 PM.png')">
        <div class="carousel-caption d-none d-md-block">
          <!--h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p!-->
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('/static/img/Screen Shot 2018-02-16 at 9.42.39 PM')">
        <div class="carousel-caption d-none d-md-block">
          <!--h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p!-->
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('/static/img/Screen Shot 2018-02-16 at 9.42.50 PM.png')">
        <div class="carousel-caption d-none d-md-block">
          <!--h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p!-->
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Radial Basis Functions</h1>
    <p class="lead">Using Gaussian functions to estimate 0.5 + 0.4sin(2 * pi * x)</p>
    <p>
This project was created for CSE 5526: Introduction to Neural Networks in Spring 2018.</p>

​<p>

The goal of this project was to create a Radial Basis Function network that used K-Means clustering to find k centers and create Gaussian functions centered at those. From there variances for each Gaussian are calculated based on the number of sampled points in that cluster. </p>

 
<p>
In the network, we train weights and biases for each of the functions. Since the actual Gaussian function doesn't have the weight inside it, differentiating is simple, and we treat the weight update as if it were linear regression. 
</p>
​
<p>
I implemented this project in Processing, which is built upon Java. Processing includes a graphical user interface (GUI) for me to draw the UI elements on, and allow the user to see the network learning (my favorite part!).
</p>
​
<p>
The <font color='red'>RED</font> line represents the RBF networks prediction, the <font color='blue'>BLUE</font> dots represent the 75 randomly sampled data points with a noise within [-0.1, 0.1] (these were seeded), and the <font color='yellow'>YELLOW</font> line represents the true function we're trying to estimate. The faint lines each represent one of the Gaussian functions used in that simulation.
</p>
​
<p>
Training was done over 100 epochs with varying learning rates and number of Gaussian functions. Above, only four configurations were used, but we see a pattern emerging. Overfitting start happening when we use a higher number of Gaussians. I found that between 3 and 6 Gaussians all work well for this function, using a learning rate of 0.02. In the future, I'll calculate errors using area approximation in order to decide the "optimal" RBF network.</p>

<p>Code available <a href="https://github.com/skywolf829/NNLab2">here</a></p>
  </div>
</section>
