<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="home">
    <div class="w-100">
      <h1 class="mb-0">Skylar
        <span class="text-primary">Wurster</span>
      </h1>
      <div class="subheading mb-5"><!--Teaching CSE2221 - Software 1 9am-10am Tuesday-Friday!-->
        <a href="mailto:wurster.18@osu.edu">wurster.18@osu.edu</a>
        <a href="https://www.github.com/skywolf829"><img src="/static/img/githubIcon.png" width="48" height="48"></a>
        <a href="https://www.linkedin.com/in/skywolf829/"><img src="/static/img/linkedinIcon.png" width="48" height="48"></a>
      </div>
      <p class="lead mb-5">I am starting my fifth year of my computer science PhD at The Ohio State University.
         My research focuses on machine learning + computer graphics with special interest in 
         NeRF models and neural representations. I am part of the GRAVITY reserach group advised by Professor Han-Wei Shen.
        </p>
      
      <p>Publications:</p>
      <ul>
        <li>S. W. Wurster, T. Xiong, H. -W Shen, H. Guo, T. Peterka. “Adaptively Placed Multi-Grid Scene Representation Networks for Large-Scale Data Visualization,” In Proc. IEEE VIS, 2023</li>
        <li>S. W. Wurster, H. Guo, T. Peterka, H. -W. Shen. "Neural Stream Functions," in Proc IEEE PacificVIS, 2023.</li>
        <li>S. W. Wurster, H. Guo, H. -W. Shen, T. Peterka and J. Xu, "Deep Hierarchical Super Resolution for Scientific Data," in IEEE Transactions on Visualization and Computer Graphics, 2022. <a href="https://ieeexplore.ieee.org/document/9920542">link</a> <a href="/static/documents/wurster22_hierarchicalsr.txt">bibtex</a></li>
        <li>Neng Shi, Jiayi Xu, Skylar W. Wurster, Hanqi Guo, Jonathan Woodring, Luke P. Van Roekel, and Han-Wei Shen. 2022. GNN-Surrogate: A Hierarchical and Adaptive Graph Neural Network for Parameter Space Exploration of Unstructured-Mesh Ocean Simulations. IEEE Transactions on Visualization and Computer Graphics 28, 6 (June 2022), 2301–2313. <a href="https://dl.acm.org/doi/abs/10.1109/TVCG.2022.3165345">link</a> <a href="/static/documents/shi22_gnn.txt">bibtex</a></li>
        <li>J. Xu, H. Guo, H. -W. Shen, M. Raj, S. W. Wurster and T. Peterka, "Reinforcement Learning for Load-balanced Parallel Particle Tracing," in IEEE Transactions on Visualization and Computer Graphics, doi: 10.1109/TVCG.2022.3148745. <a href="https://ieeexplore.ieee.org/document/9706326">link</a> <a href="/static/documents/xu23_rlparticletracing.txt">bibtex</a></li>
        <li>Bruggeman, K. and Wurster, S. W. 2018. The Hiatus System: virtual healing spaces: low dose mindfulness based stressed reduction virtual reality application. SIGGRAPH ’18 ACM SIGGRAPH 2018 Appy Hour. 8. <a href="https://dl.acm.org/doi/10.1145/3213779.3213785">link</a> <a href="/static/documents/bruggeman18_hiatussystem.txt">bibtex</a></li>
        <li>Paul Hyunjin Kim, Jacob Grove, Skylar Wurster, and Roger Crawfis. 2019. Design-centric maze generation. In Proceedings of the 14th International Conference on the Foundations of Digital Games (FDG '19). ACM, New York, NY, USA, Article 83, 1-9. <a href="https://dl.acm.org/doi/10.1145/3337722.3341854">link</a> <a href="/static/documents/kim19_mazegeneration.txt">bibtex</a></li>
      </ul>

      <p>Presentations:</p>
      <ul>
        <li>PVIS2023 - Neural Stream Functions <a href="https://www.youtube.com/watch?v=JJthL0fKMHU&t=993s">Link to presentation</a>
        </li>
        <li>VIS2019 - Presented on behalf of Junpeng Wang: J. Wang, S. Hazarika, C. Li and H. Shen, "Visualization and Visual Analysis of Ensemble Data: A Survey," in IEEE Transactions on Visualization and Computer Graphics, vol. 25, no. 9, pp. 2853-2872, 1 Sept. 2019. <a href="https://vimeo.com/373017114">Link to presentation</a>
        </li>
        <li>
          VIS2019 - Presented on behalf of Ko-Chih Wang: Wang, Ko-Chih et al. “Ray-Based Exploration of Large Time-Varying Volume Data Using Per-Ray Proxy Distributions.” IEEE transactions on visualization and computer graphics vol. 26,11 (2020): 3299-3313. <a href="https://vimeo.com/375028920">Link to presentation</a>
        </li>
      </ul>
    </div>
  </section>

  <hr class="m-0">

</div>

